/* ============common css start================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
/* ================common css end================ */

/*==============Navbar Start=================  */

.Navbar{
    background: white;

}
.Navbar .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.Navbar .container .logo a img{
    height: 60px;
}
.Navbar .container .menu ul{
    display: flex;
    column-gap: 40px;
}
.Navbar .container .menu ul li a{
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 30px;
    transition: .4s;
}

.Navbar .container .menu ul li:hover > a{
    background-color: black;
    color: white;
}
.Navbar .container .menu ul li{
    position: relative;
}

.Navbar .container .menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    background: rgb(186, 185, 184);
    transition: .4s;
}
.Navbar .container .menu ul li ul li a{
    width: 100%;
}

.Navbar .container .menu ul li ul li ul{
    left: 100%;
    top: 0;
}
.Navbar .container .menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
/* ===================Navbar End=============== */

/* ==================Banner Start=============== */


#banner_part{
  
    background: url(../img/bijoy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

#banner_part .overlay{
    background: rgba(0, 0, 0, 0.442);
}


#banner_part .container{ 
    text-align: center;
    padding: 200px 0;
}

#banner_part .container h1{
    font-family: 'Preahvihear', sans-serif;
    font-size: 40px;
    color: white;
}


#banner_part .container p{
    font-family: 'Preahvihear', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}
#banner_part .container a button{
    padding: 20px 40px;
    background: transparent ;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    transition: .5s;
}
#banner_part .container a button:hover{
    color: black;
    background-color: beige;

}
#banner_part .container a button{
    font-family: 'Raleway', sans-serif;
}

/* ==================Banner End====================  */

/* <!-- ==================About Start=============== --> */

#about_part{
    padding: 30px 0;
}
#about_part .container .title{
    text-align: center;
    position: relative;
}

#about_part .container .title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: rgb(21, 20, 20);
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 30px;
}

#about_part .container .title h3{
    font-family: 'Raleway', sans-serif;
    font-size: 76px;
    color: rgb(25, 26, 27);
    opacity: .2;
    text-transform: uppercase; 
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
}

#about_part .container .title p{
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

/* #about_part .container{
    border: 1px solid red;
} */

#about_part .container .main {
    display: flex;
    justify-content: space-between  ;
}

#about_part .container .main .box{
    width: 23%;
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#about_part .container .main .box h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    padding-top: 10px;
}
#about_part .container .main .box h4{
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
#about_part .container .main .box i{ 
    font-size: 20px;
    color: black;
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(0, 166, 255);
    transition: .4s;

}

#about_part .container .main .box i:hover{
    background: rgb(0, 166, 255);
    color: white;

}
#about_part .container .main .box a button{
    padding: 10px 15px;
    background: transparent ;
    color: rgb(0, 166, 255);
    border: 1px solid rgb(0, 166, 255);
    font-size: 20px;
    transition: .5s;
}
#about_part .container .main .box a button:hover{
    color: white;
    background-color: rgb(0, 166, 255);

}


/* <!-- ==================Footer Start=============== --> */

footer{
    background: url(../img/banner_sjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
footer .overlay{
    background: rgba(0, 0, 0, 0.442);
}
footer .container{
    text-align: center;
    padding: 10px 0;
    /* background: cadetblue; */
}
footer .container h2{
    align-items: center;
    color: white;
}
footer .container h3{
    text-transform: capitalize;
    margin-bottom: 5px;
    color: white;
}
footer .container .main .item p{
    max-width: 1320px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    /* text-align: left; */
}
footer .container .main {
    display: flex;
}

footer .container .main .item{
    /* background: beige; */
    width: 100%;
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
footer .container .main .item i{ 
    font-size: 15px;
    color: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 1px solid rgb(0, 166, 255);
    transition: .4s;
}

footer .container .main .item i:hover{
    background: rgb(0, 166, 255);
    color: black;

}
footer .container .main .item a{
    color: white;
    padding: 20px 30px;
    align-items: center;
}
/* footer .container .main .box2{
    width: 65%;
    background: wheat;
    padding: 50px 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} */
/*
footer{
    background: url(../img/banner_sjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}
footer .container{
    display: flex;
    padding: 100px 0;
    background: beige;
}
footer .container h2{
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}
footer .container .item{
  width: 20%;
  background: floralwhite;
  padding: 70px 0;
}
footer .container .item:nth-child(odd){
    background: rgb(199, 181, 147);
} */




/* <!-- ==================Footer End=============== --> */

/* 
font-family: 'Raleway', sans-serif;
*/
